@model IEnumerable<Lab5.Controllers.ArtistBase>

@{
    ViewBag.Title = "Artist list";
}

<h2>Artist list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDecade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthOrStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDecade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
